.header-section {
    -fx-padding: 10px;
    -fx-height: 20px;
    -fx-font-size: 14px;
    -fx-background-color: #82E0AA;
}

.button-section {
    -fx-font-family: "courier new";
    -fx-padding: 0;
    -fx-height: 30px;
    -fx-position: relative;
    -fx-left: 0;
    -fx-right: 0;
    -fx-outline: none;
    /*-fx-border: 1px solid #cdcdcd;*/
    -fx-border-color: rgba(0, 0, 0, .15);
    -fx-background-color: #82E0AA;
    -fx-font-size: 14px;
}
.header2-section {
    -fx-padding: 10px;
    -fx-height: 20px;
    -fx-font-size: 14px;
    -fx-background-color: #82E0AA;
}
.pane-section {
    -fx-padding: 10px;
    -fx-height: 20px;
    -fx-font-size: 14px;
    -fx-background-color: #4B535F;
}
